<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f6012dea-eafe-498a-8e94-0e17a91b9c95/resourcegroups/Concessionaria/providers/Microsoft.Web/sites/ConcessionariaAPI20230830000713</ResourceId>
    <ResourceGroup>Concessionaria</ResourceGroup>
    <ApiResourceId>/subscriptions/f6012dea-eafe-498a-8e94-0e17a91b9c95/resourceGroups/DefaultResourceGroup-EUS/providers/Microsoft.ApiManagement/service/ConcessionariaAPIapi/apis/ConcessionariaAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>false</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://concessionariaapi20230830000713.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>893b2da7-9045-4cc8-9100-3ae88edb1017</ProjectGuid>
    <MSDeployServiceURL>concessionariaapi20230830000713.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ConcessionariaAPI20230830000713</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$ConcessionariaAPI20230830000713</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>